header {
    background: #ccaafc7e; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 15px 50px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

nav a {
    color: #555; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    margin-right: 10px; 
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    color: #9b59b6; 
    background-color: #f0f0f0; 
}


body {
    padding-top: 60px; 
   
}