* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.container-lista {
    min-width: 80%;
    max-width: 95%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    border-bottom: 2px solid #9b59b6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.item-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.item-usuario:hover {
    background-color: #f9f9ff;
    box-shadow: 0 2px 5px rgba(155, 89, 182, 0.1);
}

.item-detalhes {
    display: flex;
    flex-direction: column;
}

.item-detalhes strong {
    font-size: 1.1em;
    color: #4a4a4a;
}

.item-detalhes span {
    font-size: 0.9em;
    color: #777;
}

.item-id {
    font-weight: bold;
    color: #9b59b6;
}

.status-aberto{
    border-color: green;
}