.input-categoria{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.input-categoria label{
    padding: 0;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

.input-categoria select{

    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-categoria select:focus {
    border-color: #9b59b6; 
    outline: none;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.3);
}

.input-categoria-option{
    font-size: 16px;
}

#descricao {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    resize: vertical; 
}

#descricao:focus {
    border-color: #9b59b6; 
    outline: none;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.3);
}



.check-box{
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin-top: 10px; 
}

.check-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.check-option label {
    margin-bottom: 0; 
    margin-left: 8px;
    font-weight: normal; 
    color: #555;
    cursor: pointer;
}


#alta + label { 
    color: #e74c3c; 
    font-weight: bold; 
} 
#media + label { 
    color: #f39c12;
} 
#baixa + label { 
    color: #2ecc71;
}
